# SPDX-FileCopyrightText: 2025 Semiotic AI, Inc.
# SPDX-FileCopyrightText: 2026 Semiotic AI, Inc.
#
# SPDX-License-Identifier: BUSL-1.1
# SPDX-License-Identifier: MIT

node_modules
dist
docs
package-lock.json
CHANGELOG.md
packages/**/pkg
packages/**/target
test-wasmi/target
test-wasmi/*/pkg
*.md
