name: Release Please

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

jobs:
  release-please:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: google-github-actions/release-please-action@v3
        with:
          release-type: node